<div class="container">
<div class="row" 
{{!-- style="
    position: fixed;
   top: 30%;
   left: 30%;
   transform: translate(-50%, -50%);" --}}
   >

    
    <form action="/admin/generate-fake-posts" method="POST">

    <h1>Create Posts</h1>
    <div class="form-group">

        <input name = "amount" type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark"> GENEREATE </button>
    </form>
</div>

<!--Chart-->
<div class="row">
    <canvas id="myChart"></canvas>
</div>

</div>