<h2>Edit Categories Here</h2>

<form action="/admin/categories/edit/{{categories.id}}?_method=PUT" method="post">

    <div class="form-group">
        <label for="name"> Name</label>
        <input type="text" name="name" class="form-control" id="name" value="{{categories.name}}">
    </div>




    <button type="submit" class="btn btn-primary"> Update </button>

</form>

