<h1>ALL USERS</h1>

{{!-- {{> home/form-msgs}} --}}
<div class="row">
    <div class="col-sm-4">
        <form action="/admin/details/create" method="POST">
            <div class="form-group">
                <label for="user_name">Name</label>
                <input type="text" name="user_name" placeholder="Enter Title" class="form-control">
            </div>
        <button class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<table class="table table-bordered">
<thead>
    <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>User Image</th>
    </tr>
</thead>

<tbody>

    {{#each details}}
    <tr>
        <td>{{id}}</td>
        <td>{{user_name}}</td>
        <td><img height="50" class="img-responsive" src="{{user_img}}" alt=""></td>
        
        <td>
            <form action="/admin/details/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    </tr>
    {{/each}}

 
</tbody>
</table> 