<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َWalkman</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <script>
    const wrapperEl = document.querySelector('.wrapper');
    const numberOfEls = 90;
    const duration = 6000;
    const delay = duration / numberOfEls;

    let tl = anime.timeline({
      duration: delay,
      complete: function() { tl.restart(); }
    });

    function createEl(i) {
      let el = document.createElement('div');
      const rotate = (360 / numberOfEls) * i;
      const translateY = -50;
      const hue = Math.round(360 / numberOfEls * i);
      el.classList.add('el');
      el.style.backgroundColor = 'hsl(' + hue + ', 40%, 60%)';
      el.style.transform = 'rotate(' + rotate + 'deg) translateY(' + translateY + '%)';
      tl.add({
        begin: function() {
          anime({
            targets: el,
            backgroundColor: ['hsl(' + hue + ', 40%, 60%)', 'hsl(' + hue + ', 60%, 80%)'],
            rotate: [rotate + 'deg', rotate + 10 +'deg'],
            translateY: [translateY + '%', translateY + 10 + '%'],
            scale: [1, 1.25],
            easing: 'easeInOutSine',
            direction: 'alternate',
            duration: duration * .1
          });
        }
      });
      wrapperEl.appendChild(el);
    };

    for (let i = 0; i < numberOfEls; i++) createEl(i);
</script>

<form class="box" action="/login" method="post">
  <h1>Login</h1>

  <div class="form-group">
    {{!-- <label for="exampleInputEmail1"></label> --}}
    <input name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="text">
  </div>

<div class="form-group">
    {{!-- <label for="exampleInputPassword1"></label> --}}
    <input name="password" id="exampleInputPassword1" type="password" placeholder="Password">
</div>

    <input type="submit" name="" value="Login">
</form>


  </body>
  <footer class="footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sushant Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
</html>

