<h1>ADD VENDORS HERE</h1>

{{#each errors}}

    <div class="alert alert-danger">
    {{message}}
    </div>
{{/each}}

<form action="/admin/vendors/create" method="post" enctype="multipart/form-data">
    <center><h5><label> Vendor Details </label></h5></center>
    
     <div class="form-group">
        <label for="VendorName"> VendorName </label>
        <input type="text" name="vendor_name" class="form-control" id="vendorname" placeholder="Enter Vendorname">
    </div>
    <div class="form-group">
        <label for="category"> Category </label>
        <select name="cat_id" id="cat_id" class="form-control">
        
         {{#each categories}}
            <option value='{{id}}'>{{cat_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="VendorAddress"> VendorAddress </label>
        <input type="text" name="vendor_address" class="form-control" id="vendoradd" placeholder="Enter Vendorname">
    </div>
     <div class="form-group">
        <label for="file"> Upload Icon </label>
        <input type="file" name="vendor_ic" class="form-control">
    </div>
  <div class="form-group">
        <label for="status" class="form-check-label"> 
        <input type="checkbox" name="status" class="form-check-input" id="status" >
        Status
        </label>
    </div>


    <button type="submit" class="btn btn-primary"> CREATE </button>

</form>