<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
       
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Vendors">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Partners</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePosts">
             <li>
              <a href="/admin/category">All Categories</a>
            </li>
            <li>
              <a href="/admin/category/create">Create Category</a>
            </li>
            <li>
              <a href="/admin/vendors">All Vendors</a>
            </li>
            <li>
              <a href="/admin/vendors/create">Create Vendor</a>
            </li>
             <li>
              <a href="/admin/vendors/products">All Products</a>
            </li>
            <li>
              <a href="/admin/vendors/products/create">Add Products</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="tbl_user_progress">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsetbl_user_progress" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">User Progress</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsetbl_user_progress">
            <li>
              <a href="/admin/progresses">All User Progress</a>
            </li>
            <li>
              <a href="/admin/progresses/create">Add User Progress</a>
            </li>
             <li>
              <a href="/admin/subprogress">All User Sub Progress</a>
            </li>
             <li>
              <a href="/admin/subprogress/create">Add User Sub Progress</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Leaderboad">
          <a class="nav-link" href="/admin/leaderboards">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Leaderboad</span>
          </a>
        </li>
        
        {{!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/admin/categories">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Categories</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/admin/comments">
            <i class="fa fa-fw fa-comments"></i>
            <span class="nav-link-text">Comments</span>
          </a>
        </li> --}}

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="details">
          <a class="nav-link" href="/admin/details">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Users</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Blogs">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBlogs" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Blogs</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseBlogs">
            <li>
              <a href="/admin/blogs">All Blogs</a>
            </li>
            <li>
              <a href="/admin/blogs/create">Create Blogs</a>
            </li>
          </ul>
        </li>

         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sponsers">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSponsers" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Sponsers</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseSponsers">
            <li>
              <a href="/admin/sponsers">All Sponsers</a>
            </li>
            <li>
              <a href="/admin/sponsers/create">Add Sponsers</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Coupons">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCoupons" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Coupons</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseCoupons">
            <li>
              <a href="/admin/coupons">All Coupons</a>
            </li>
            <li>
              <a href="/admin/coupons/create">Add Coupons</a>
            </li>
          </ul>
        </li>



      </ul>